AddDefaultCharset UTF-8

#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteBase /cv/
	
#	RewriteCond %{REQUEST_FILENAME} !-f  
#	RewriteCond %{HTTP_ACCEPT} !(.*images.*)
#	RewriteRule ^(.*)$ index.php/$1 [L]

#</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
